# App Logs
logs/

# Build
dist/

# Config
# Remember To Never Commit This .env

# Editor Config
.vscode/

# Misc
*.DS_Store

# Node
node_modules
npm-debug.log*
package-lock.json

# Yarn
yarn-debug.log*
yarn-error.log*
yarn.lock
